@for $i from 1 through 12 {
    .col-#{$i} {
        grid-column: span $i;
    }
}

@for $i from 1 through 12 {
    .col-lg-#{$i} {
        grid-column: span $i;

        @media (max-width: 1199.98px) {
            grid-column: 1 /span 12;
        }

    }
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
        grid-column: span $i;

        @media (max-width: 991.98px) {
            grid-column: 1 /span 12;
        }

    }
}

@for $i from 1 through 12 {
    .col-sm-#{$i} {
        grid-column: span $i;

        @media (max-width: 767.98px) {
            grid-column: 1 /span 12;
        }

    }
}

@for $i from 1 through 12 {
    .col-xs-#{$i} {
        grid-column: span $i;

        @media (max-width: 575.98px) {
            grid-column: 1 /span 12;
        }

    }
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.row-lg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @media (max-width: 1199.98px) {
        display: block;
    }

}

.row-md {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @media (max-width: 991.98px) {
        display: block;
    }

}

.row-sm {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @media (max-width: 767.98px) {
        display: block;
    }

}

.row-xs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @media (max-width: 575.98px) {
        display: block;
    }

}

@for $i from 1 through 2 {
    .margin-left-#{$i} {
        margin-left: #{$i}em;
    }

    .margin-right-#{$i} {
        margin-right: #{$i}em;
    }

    .margin-top-#{$i} {
        margin-top: #{$i}em;
    }

    .margin-bottom-#{$i} {
        margin-bottom: #{$i}em;
    }

    .margin-#{$i} {
        margin: #{$i}em;
    }

    .margin-lg-top-#{$i} {
        margin-top: #{$i}em;

        @media (max-width: 1199.98px) {
            margin-top: 0em;
        }
    }

    .margin-lg-bottom-#{$i} {
        margin-bottom: #{$i}em;

        @media (max-width: 1199.98px) {
            margin-bottom: 0em;
        }
    }

    .margin-lg-right-#{$i} {
        margin-right: #{$i}em;

        @media (max-width: 1199.98px) {
            margin-right: 0em;
        }
    }

    .margin-lg-left-#{$i} {
        margin-left: #{$i}em;

        @media (max-width: 1199.98px) {
            margin-left: 0em;
        }
    }

    .margin-lg#{$i} {
        margin: #{$i}em;

        @media (max-width: 1199.98px) {
            margin: 0em;
        }
    }


    .margin-md-top-#{$i} {
        margin-top: #{$i}em;

        @media (max-width: 991.98px) {
            margin-top: 0em;
        }
    }

    .margin-md-bottom-#{$i} {
        margin-bottom: #{$i}em;

        @media (max-width: 991.98px) {
            margin-bottom: 0em;
        }
    }

    .margin-md-right-#{$i} {
        margin-right: #{$i}em;

        @media (max-width: 991.98px) {
            margin-right: 0em;
        }
    }

    .margin-md-left-#{$i} {
        margin-left: #{$i}em;

        @media (max-width: 991.98px) {
            margin-left: 0em;
        }
    }

    .margin-md#{$i} {
        margin: #{$i}em;

        @media (max-width: 991.98px) {
            margin: 0em;
        }
    }


    .margin-sm-top-#{$i} {
        margin-top: #{$i}em;

        @media (max-width: 767.98px) {
            margin-top: 0em;
        }
    }

    .margin-sm-bottom-#{$i} {
        margin-bottom: #{$i}em;

        @media (max-width: 767.98px) {
            margin-bottom: 0em;
        }
    }

    .margin-md-right-#{$i} {
        margin-right: #{$i}em;

        @media (max-width: 767.98px) {
            margin-right: 0em;
        }
    }

    .margin-sm-left-#{$i} {
        margin-left: #{$i}em;

        @media (max-width: 767.98px) {
            margin-left: 0em;
        }
    }

    .margin-sm#{$i} {
        margin: #{$i}em;

        @media (max-width: 767.98px) {
            margin: 0em;
        }
    }

    .margin-xs-top-#{$i} {
        margin-top: #{$i}em;

        @media (max-width: 575.98px) {
            margin-top: 0em;
        }
    }

    .margin-xs-bottom-#{$i} {
        margin-bottom: #{$i}em;

        @media (max-width: 575.98px) {
            margin-bottom: 0em;
        }
    }

    .margin-xs-right-#{$i} {
        margin-right: #{$i}em;

        @media (max-width: 575.98px) {
            margin-right: 0em;
        }
    }

    .margin-xs-left-#{$i} {
        margin-left: #{$i}em;

        @media (max-width: 575.98px) {
            margin-left: 0em;
        }
    }

    .margin-xs#{$i} {
        margin: #{$i}em;

        @media (max-width: 575.98px) {
            margin: 0em;
        }
    }
}




@for $i from 1 through 2 {
    .padding-left-#{$i} {
        padding-left: #{$i}em;
    }

    .padding-right-#{$i} {
        padding-right: #{$i}em;
    }

    .padding-top-#{$i} {
        padding-top: #{$i}em;
    }

    .padding-bottom-#{$i} {
        padding-bottom: #{$i}em;
    }

    .padding-#{$i} {
        padding: #{$i}em;
    }

    .padding-lg-top-#{$i} {
        padding-top: #{$i}em;

        @media (max-width: 1199.98px) {
            padding-top: 0em;
        }
    }

    .padding-lg-bottom-#{$i} {
        padding-bottom: #{$i}em;

        @media (max-width: 1199.98px) {
            padding-bottom: 0em;
        }
    }

    .padding-lg-right-#{$i} {
        padding-right: #{$i}em;

        @media (max-width: 1199.98px) {
            padding-right: 0em;
        }
    }

    .padding-lg-left-#{$i} {
        padding-left: #{$i}em;

        @media (max-width: 1199.98px) {
            padding-left: 0em;
        }
    }

    .padding-lg#{$i} {
        padding: #{$i}em;

        @media (max-width: 1199.98px) {
            padding: 0em;
        }
    }


    .padding-md-top-#{$i} {
        padding-top: #{$i}em;

        @media (max-width: 991.98px) {
            padding-top: 0em;
        }
    }

    .padding-md-bottom-#{$i} {
        padding-bottom: #{$i}em;

        @media (max-width: 991.98px) {
            padding-bottom: 0em;
        }
    }

    .padding-md-right-#{$i} {
        padding-right: #{$i}em;

        @media (max-width: 991.98px) {
            padding-right: 0em;
        }
    }

    .padding-md-left-#{$i} {
        padding-left: #{$i}em;

        @media (max-width: 991.98px) {
            padding-left: 0em;
        }
    }

    .padding-md#{$i} {
        padding: #{$i}em;

        @media (max-width: 991.98px) {
            padding: 0em;
        }
    }


    .padding-sm-top-#{$i} {
        padding-top: #{$i}em;

        @media (max-width: 767.98px) {
            padding-top: 0em;
        }
    }

    .padding-sm-bottom-#{$i} {
        padding-bottom: #{$i}em;

        @media (max-width: 767.98px) {
            padding-bottom: 0em;
        }
    }

    .padding-md-right-#{$i} {
        padding-right: #{$i}em;

        @media (max-width: 767.98px) {
            padding-right: 0em;
        }
    }

    .padding-sm-left-#{$i} {
        padding-left: #{$i}em;

        @media (max-width: 767.98px) {
            padding-left: 0em;
        }
    }

    .padding-sm#{$i} {
        padding: #{$i}em;

        @media (max-width: 767.98px) {
            padding: 0em;
        }
    }

    .padding-xs-top-#{$i} {
        padding-top: #{$i}em;

        @media (max-width: 575.98px) {
            padding-top: 0em;
        }
    }

    .padding-xs-bottom-#{$i} {
        padding-bottom: #{$i}em;

        @media (max-width: 575.98px) {
            padding-bottom: 0em;
        }
    }

    .padding-xs-right-#{$i} {
        padding-right: #{$i}em;

        @media (max-width: 575.98px) {
            padding-right: 0em;
        }
    }

    .padding-xs-left-#{$i} {
        padding-left: #{$i}em;

        @media (max-width: 575.98px) {
            padding-left: 0em;
        }
    }

    .padding-xs#{$i} {
        padding: #{$i}em;

        @media (max-width: 575.98px) {
            padding: 0em;
        }
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.position-fixed {
    position: fixed;
}

.position-realative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.pink {
    color: pink;
}

.gray {
    color: gray;
}

.lightgray {
    color: lightgray;
}

.lightblue {
    color: lightblue;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-pink {
    background-color: pink;
}

.bg-gray {
    background-color: gray;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-lightblue {
    background-color: lightblue;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@for $i from 1 through 5 {
    .text-size-#{$i} {
        font-size: (10 * $i)+px;
    }
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.text-medium {
    font-weight: 500;
}

@for $i from 1 through 2 {
    .border-#{$i} {
        border: #{$i}rem solid black;
    }

    .border-left-#{$i} {
        border-left: #{$i}rem solid black;
    }

    .border-right-#{$i} {
        border-right: #{$i}rem solid black;
    }

    .border-top-#{$i} {
        border-top: #{$i}rem solid black;
    }

    .border-bottom-#{$i} {
        border-bottom: #{$i}rem solid black;
    }

    .rounded-#{$i} {
        border-radius: #{$i}rem;
    }


}

.circle {
    border-radius: 50%;
}